<% provide(:title, "Log In") %>

<div class="container-fluid">
	<h1>Log In</h1>

	<div class="row">
		<%= form_for(:session, url: login_path, html: {class: "form-horizontal"}) do |f| %>
			<div class="form-group">
				<%= f.label :email, class: "col-xs-1 col-xs-offset-4 control-label" %>
				<div class="col-xs-3">
					<%= f.text_field :email, class: "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :password, class: "col-xs-1 col-xs-offset-4 control-label" %>
				<div class="col-xs-3">
					<%= f.password_field :password, class: "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :remember_me, class: "checkbox col-xs-offset-5" do%>
					<%= f.check_box :remember_me %>
					<span> Remember Me</span>
				<% end %>
			</div>
			<div class="form-group">
				<center><%= f.submit "Login", class: "btn btn-primary btn-lg" %></center>
			</div>
		<% end %>
	</div>
</div>