<div class="container-fluid" id="cue-form">
	<div class="row">
		<div class="col-xs-12">
			<%= form_for @cue do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="form-group col-xs-2" id="check-div">
				<%= f.label :auto_follow, "Auto-Follow?" %>
				<%= f.label :auto_follow, class: "checkbox", id: "follow-check" do %>
					<%= f.check_box :auto_follow %>
				<% end %>
			</div>
			<div class="form-group col-xs-1">
				<%= f.label :number %>
				<%= f.text_field :number, class: "form-control", id: "number-input" %>
			</div>
			<div class="form-group col-xs-1" id="time-div">
				<%= f.label :time %>
				<%= f.text_field :time, class: "form-control", id: "time-input" %>
			</div>
			<div class="form-group col-xs-2" id="radio-div">
				<%= f.label :follow, "Follow Type", id: "radio-cue" %>
				<%= f.label :follow, class: "radio follow"  do %>
					<% if @cue.follow.nil? %>
						<%= f.radio_button :follow, 0, checked: true %>None
					<% else %>
						<%= f.radio_button :follow, 0 %>None
					<% end %>
				<% end %>
				<%= f.label :follow, class: "radio follow" do %>
					<%= f.radio_button :follow, 1%>Follow
				<% end %>
				<%= f.label :follow, class: "radio follow" do %>
					<%= f.radio_button :follow, 2%>Hang
				<% end %>
			</div>
			<div class="form-group col-xs-2" id="follow-hang-div">
				<%= f.label :follow_time, "Follow/Hang Time" %>
				<%= f.text_field :follow_time, class: "form-control", id: "follow-hang-input" %>
			</div>
			<div class="form-group col-xs-2" id="purpose-div">
				<%= f.label :purpose %>
				<%= f.text_field :purpose, class: "form-control" %>
			</div>
			<div class="form-group col-xs-2" id="called-div">
				<%= f.label :called %>
				<%= f.text_field :called, class: "form-control" %>
			</div>
			<div class="form-group col-xs-1" id="page-div">
				<%= f.label :page %>
				<%= f.text_field :page, class: "form-control", id: "page-input" %>
			</div>
			<div>
				<%= hidden_field_tag :show_id, @show.id %>
			</div>
			<div class="form-group col-xs-1" id="submit-div">
				<%= f.submit "Save Cue", class: "btn btn-primary btn-large" %>
			</div>
			<% end %>
		</div>
	</div>
</div>