<!-- Needs to be its own table, cannot integrate with previous table -->

<div class="col-xs-10 col-xs-offset-1">
	<% first = true if !@show.cues.any? %>
	<%= form_for @cue, remote: true do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="form-group col-xs-1", id="check-cue">
			<%= f.label :auto_follow, "Auto Follow", id:"check-label" %>
			<%= f.label :auto_follow, class: "checkbox" do %>
				<%= f.check_box :auto_follow, id:"cue-check-box-inline" %>
			<% end %>
		</div>
		<div class="form-group col-xs-1" id="number-cue">
			<%= f.label :number, "Number" %>
			<% if first %>
				<%= f.text_field :number, value: decimal_format(@defaults.start_cue), class: "form-control", id: 'number-field' %>
			<% else %>
				<%= f.text_field :number, value: decimal_format(@sorted.last.number + @defaults.cue_number_gap), class: "form-control", id: 'number-field' %>
			<% end %>
		</div>
		<div class="form-group col-xs-1" id="time-cue">
			<%= f.label :time %>
			<%= f.text_field :time, value: decimal_format(@defaults.cue_time), class: "form-control" %>
		</div>
		<div class="form-group col-xs-1" id="follow-group">
			<%= f.label :follow, "Follow/Hang Time" %>
			<%= f.text_field :follow_time, class: "form-control" %>
			<%= f.label :follow do %>
				<%= f.radio_button :follow, 0, checked: true %>None
			<% end %>
			<%= f.label :follow do %>
				<%= f.radio_button :follow, 1 %>Follow
			<% end %>
			<%= f.label :follow do %>
				<%= f.radio_button :follow, 2 %>Hang
			<% end %>
		</div>
		<div class="form-group col-xs-2">
			<%= f.label :purpose %>
			<%= f.text_field :purpose, class: "form-control" %>
		</div>
		<div class="form-group col-xs-2">
			<%= f.label :called %>
			<%= f.text_field :called, class: "form-control" %>
		</div>
		<div class="form-group col-xs-1" id="page-cue">
			<%= f.label :page %>
			<% if first %>
				<%= f.text_field :page, value: 1, class: "form-control" %>
			<% else %>
				<%= f.text_field :page, value: @sorted.last.page, class: "form-control" %>
			<% end %>
		</div>
		<div><%= hidden_field_tag :show, @show.id %></div>
		<div class="form-group col-xs-1">
			<%= f.submit "", class: "btn btn-lg btn-success add-cue-btn" %>
			<%= button_tag "", id: "sudo-button" do %>
				<span class="glyphicon glyphicon-plus", id="submit-glyph"></span>
			<% end %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	<% if @defaults.quick == true %>
		$('#number-field').focus();
	<% end %>

	$("#sudo-button").click(function(){
		$(add-cue).click();
	});
</script>