<div class="container-fluid">
	<div class="row col-xs-9 col-xs-offset-1">
		<span>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Auto-follow</th>
							<th>#</th>
							<th>Time</th>
							<th>Follow/Hang Time</th>
							<th>Purpose</th>
							<th>Called</th>
							<th>Page #</th>
						</tr>
					</thead>
					<tbody>
						<% @cues.each do |q| %>
							<tr data-link="<%= edit_cue_path(q) %>">
								<td>
									<% if q.auto_follow == true %>
										<span class="glyphicon glyphicon-ok-circle auto-follow-check"></span>
									<% else %>
									<% end %>
								</td>
								<td><%= decimal_format(q.number) %></td>
								<td><%= decimal_format(q.time) %></td>
								<td>
								<% if q.follow == 1 %>
									F - <%= decimal_format(q.follow_time) %>
								<% elsif q.follow == 2 %>
									H - <%= decimal_format(q.follow_time) %>
								<% elsif q.follow == 0 %>
								<% else %>
									Error
								<% end %>
								</td>
								<td><%= q.purpose %></td>
								<td><%= q.called %></td>
								<td><%= q.page %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</span>
	</div>
	<div class="col-xs-1" id="delete-cue-div">
		<div class="table-responsive">
			<table class="table">
				<thead><th>Delete</th></thead>
				<tbody>
					<% @cues.each do |q| %>
						<tr id="delete-cue">
							<td>
								<%= link_to cue_path(q.id), method: :delete, data: {confirm: "Delete Cue #{q.number}?"} do %>
									<span class="glyphicon glyphicon-remove" id="delete-cue-button"></span>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>