<% #View Notes: %>
<% #When editing layout, make sure that cols and rows take up the same width %>

<div class="container-fluid">
	<div class="row col-xs-10 col-xs-offset-1 table-container">
		<span>
			<div class="cues-table text-center">
				<div class="row table-header">
					<div class="table-head cue-col-af col-xs-1">Auto-follow</div>
					<div class="table-head cue-col-num col-xs-1">#</div>
					<div class="table-head cue-col-time col-xs-1">Time</div>
					<div class="table-head cue-col-fh col-xs-2">Follow/Hang</div>
					<div class="table-head cue-col-pur col-xs-2">Purpose</div>
					<div class="table-head cue-col-call col-xs-2">Called</div>
					<div class="table-head cue-col-pg col-xs-1">Page #</div>
					<div class="table-head cue-col-del col-xs-1">Delete</div>
					<div class="table-head cue-col-add col-xs-1">Insert</div>
				</div>
				<div id="table-body">
					<div id="top-add"></div>
					<% if show.cues.any? %>
						<% n = 1 %>
						<% cues.each do |q| %>
							<% if session[:act] == "show" %>
								<% if n%2 == 1 %>
									<div class="row cue-row row-1" id="cue-row-<%= q.id %>">
								<% else %>
									<div class="row cue-row row-2" id="cue-row-<%= q.id %>">
								<% end %>
							<% else %>
								<% if n%2 == 1 %>
									<div class="row cue-row row-1" id="cue-row-<%= q.id %>" data-link="<%= edit_cue_path(q) %>" data-id="<%= q.id %>">
								<% else %>
									<div class="row cue-row row-2" id="cue-row-<%= q.id %>" data-link="<%= edit_cue_path(q) %>" data-id="<%= q.id %>">
								<% end %>
							<% end %>
										<div class="cue-col-af col-xs-1">
											<% if q.auto_follow == true %>
												<span class="glyphicon glyphicon-ok-circle auto-follow-check"></span>
											<% end %>
										</div>
										<div class="cue-col-num col-xs-1"><%= decimal_format(q.number) %></div>
										<div class="cue-col-time col-xs-1"><%= decimal_format(q.time) %></div>
										<div class="cue-col-fh col-xs-2">
										<% if q.follow == 1 %>
											F - <%= decimal_format(q.follow_time) %>
										<% elsif q.follow == 2 %>
											H - <%= decimal_format(q.follow_time) %>
										<% elsif q.follow == 0 %>
										<% else %>
											Error
										<% end %>
										</div>
										<div class="cue-col-pur col-xs-2"><%= q.purpose %></div>
										<div class="cue-col-call col-xs-2"><%= q.called %></div>
										<div class="cue-col-pg col-xs-1"><%= q.page %></div>
										<div class="cue-col-del col-xs-1" id="delete-cue-<%= q.id %>">
											<% if defaults.quick == false %>
												<%= link_to cue_path(q.id), method: :delete, remote: true, data: {confirm: "Delete Cue #{decimal_format(q.number)}?"}, class: "cue-del-a" do %>
													<span class="glyphicon glyphicon-remove delete-cue-button remove-glyph"></span>
												<% end %>
											<% else %>
												<%= link_to cue_path(q.id), method: :delete, remote: true, class: "cue-del-a" do %>
													<span class="glyphicon glyphicon-remove delete-cue-button remove-glyph"></span>
												<% end %>
											<% end %>
										</div>
										<div class="cue-col-add col-xs-1 add-btn-col">
											<%= link_to(new_cue_path(show_id: q.show, cue_after: q.number), remote: true, data: {id: q.number, qid: q.id}, class: "btn btn-sm btn-success add-cue-after", id: "add-cue-after-#{q.id}") do %>
												<%= content_tag(:span, nil, class: "glyphicon glyphicon-plus submit-glyph-sm") %>
											<% end %>
										</div>
									</div>
							<% n = n + 1 %>
						<% end %>
					<% end %>
				</div>
			</div>
		</span>
	</div>
</div>
<% if defaults.quick == true %>
	<% if show.cues.any? %>
		<div class="row text-center col-xs-10 col-xs-offset-1" id="quick-add">
			<%= render partial: 'shows/add_cue_table', locals: {show: show, cue: cue, defaults: defaults, cue_before: cues.last, new_num: cues.last.number + defaults.cue_number_gap, cue_after: nil} %>
		</div>
	<% else %>
		<div class="row text-center col-xs-10 col-xs-offset-1" id="quick-add">
			<%= render partial: 'shows/add_cue_table', locals: {show: show, cue: cue, defaults: defaults, cue_before: nil, new_num: defaults.start_cue, cue_after: nil} %>
		</div>
	<% end %>
<% else %>
	<div class="container-fluid">
		<% if cues.any? %>
			<%= link_to new_cue_path(show_id: show.id, cue_after: -200), remote: true, data: {id: cues.last.number}, id: "add-cue-after-#{cues.last.id}" do %>

				<div class="row cue-row text-center col-xs-10 col-xs-offset-1" id="add-cue-holder">
					Click here to add a cue to the end of the list
				</div>
			<% end %>
		<% else %>
			<%= link_to new_cue_path(show_id: show.id, cue_after: -200), remote: true do %>
				<div class="row cue-row text-center col-xs-10 col-xs-offset-1" id="add-cue-holder">
					Click here to add a cue to the end of the list
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>