<% provide(:title, @show.title) %>
<% object_title("show") %>
<% def_action("edit") %>

<div class="container-fluid">
	<h1><%= @show.title %></h1>
</div>

<div class="container-fluid">
	<div class="row col-xs-10 col-xs-offset-1">
		<!--<%= link_to new_cue_path(show_id: @show.id), class: "col-xs-2 col-xs-offset-2 btn btn-success btn-large", id: "add-cue" do %>
			<span class="glyphicon glyphicon-plus"></span>
		<% end %>-->
		<%= link_to "Delete show", show_path, method: :delete, data:{confirm: "Delete Show #{@show.title}"}, class: "col-xs-2 col-xs-offset-6 btn btn-primary btn-danger", id: "delete-show" %>
	</div>
</div>

<% if @show.cues.any? %>
	<%= render 'show_cues' %>
<% end %>

<%= render "add_cue_table" %>