<% provide(:title, @show.title) %>
<% object_title("show") %>
<% def_action("edit") %>

<div class="container-fluid">
	<h1><%= @show.title %></h1>
</div>

<div class="container-fluid" id="edit-show-btns">
	<div class="row col-xs-10 col-xs-offset-1">
		<% if @defaults.quick == false %>
			<%= link_to "Quick Edit", quick_add_path(@show.id), remote: true, class: "col-xs-1 col-xs-offset-2 btn btn-success btn-large", id: "quick-edit" %>
		<% elsif @defaults.quick == true %>
			<%= link_to "Std Edit", quick_add_path(@show.id), remote: true, class: "col-xs-1 col-xs-offset-2 btn btn-primary btn-large", id: "quick-edit" %>
		<% else %>
			<div class="col-xs-1 col-xs-offset-2">Error loading Quick Edit</div>
		<% end %>
		<%= link_to "Delete show", show_path, method: :delete, data:{confirm: "Delete Show #{@show.title}"}, class: "col-xs-2 col-xs-offset-6 btn btn-primary btn-danger", id: "delete-show" %>
	</div>
</div>

<div id="show-cues-section">
	<%= render partial: 'show_cues', locals:{show: @show, cues: @cues, defaults: @defaults} %>
</div>

<div class="col-xs-10 col-xs-offset-1" id="add-last-div">
	<%# render partial: "add_cue_table", locals: {show: @show, cue: @cue, defaults: @defaults, sorted: @sorted} %>
</div>

